/* NAV */
.Box{
    display: flex;
    background-color: #000814; 
    padding: 20px 20px 20px 0px;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 100px;
}

.user{
    display: flex;
    gap: 30px;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
li {
    list-style: none;    
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 14px;
}
li:hover {
    color: #0056b3;   
}

.txt{
    font-size: 20px;
}

.search{
    border-radius: 20px;
    border: #002c53 solid 3px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: #315164;
    width: 500px;
    height: 30px;
}

/* homeC */

body{
    background-image: url('../../public/fundocampo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    padding: 20px;
}

.boxTd{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #315164;
    opacity: 0.8;
    padding: 40px;
    width: 30%;
}

.boxC{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 40px;
}

.cTitulos{
    font-family: 'khandB';
}

.boxET{
    display: flex;
    flex-direction: column;
}

.nomeT{
    font-family: 'khandSB';
}

.txt{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.boxBC{
    display: flex;
    flex-direction: column;
}