

.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../../public/fundoFF.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'fifa';
    color: white;
}

.stc{
    font-size: 150px;
}

.subtitle{
    font-size: 30px;
}

.boxlogin{

    border: 2px #002c53;
    padding: 15px;
    margin: 150px 80px 50px 80px;
    border-radius: 20px;
    background-color: #000814;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vh;
    opacity: 0.8;

}

form {
    display: flex;
    flex-direction: column;
}

.inputl {
    margin: 2px 0px 2px 0px;
    padding: 3px 10px 3px 10px;
    background-color: #000814;
    border-radius: 40px;
    font-size: 15px;
    color: white;
    width: 75vh;
    border: #002c53 solid 3px;
}

.t1{
    color: white;
    font-family: 'khand';
}

.esqueci{
    color: white;
    font-family: 'khand';
}

.esqueci:hover{
    color: rgb(0, 119, 255);
    font-family: 'khandSB';
    cursor: pointer;
}

.buttonentrar{
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    width: 20vw;
    padding: 5px;
    margin: 5px;
    background-color: #242629;
}
button:hover {
    background-color: #003874;
}


.cadastro{
    color: white;
    font-family: 'khand';
    display: flex;
    flex-direction: row;
    gap: 4px;
    cursor: pointer;
}

.linkC{
    color: rgb(255, 255, 255);
}
.linkC:hover{
    color: rgb(0, 119, 255);
    font-family: 'khandSB';
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .stc {
        font-size: 100px; 
    }

    .subtitle {
        font-size: 20px; 
    }

    .boxlogin {
        margin: 50px 20px;
        width: 90vw; 
    }

    .inputl {
        width: 90%; 
        font-size: 14px; 
    }

    .buttonentrar {
        width: 80%;
    }
}