*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fifa';
    src: url('./assets/fonts/fifawelcome1.3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'khand';
    src: url('./assets/fonts/Khand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'khandB';
    src: url('./assets/fonts/Khand-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'khandSB';
    src: url('./assets/fonts/Khand-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


